<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample Todo List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>

    <div id="todo">
      <h1>Todo List</h1>
      <p>
        <form class="" action="index.html" method="post">
          <input type="text" name="item" value="" placeholder="Add new item...">
          <button type="Submit" name="button">Submit</button>
        </form>
      </p>
    </div>
  </body>
</html>
